/* Scss Document */

$font-handwriting: 'Parisienne';

.branding {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    &__tagline {
        font-family: $font-handwriting;
    }
    &__logo {
        width: 70%;
    }
}


.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    &__name &__password &__submit &__forgotPass &__signup {
        display: block;
        margin-top: 15%;
    }
       
}